@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #081130;
    --background: #ffffff;
    --background-dark: #fafafa;
    --primary: #1a90ff;
    --primary-light: #ebf5ff;
    --secondary: #6a3dff;
    --secondary-light: #f6f4ff;
    --accent: #06071e;
    --background-alt: #060720;
  }

  .dark {
    --text: #ffffff;
    --background: #161616;
    --background-dark: #131313;
    --primary: #0077e6;
    --primary-light: #002a54;
    --secondary: #795ed3;
    --secondary-light: #272238;
    --accent: #e1e2f9;
    --background-alt: #000000;
  }
}

html {
  overflow-y: scroll;
  scrollbar-width: thin;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.fade-in-delayed {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}
