@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #121211;
    --background: #f3f3f3;
    --primary: #0079d6;
    --secondary: #003461;
    --accent: #02cfa9;
  }
  .dark {
    --text: #eeeeed;
    --background: #141414;
    --primary: #29a2ff;
    --secondary: #9ed2ff;
    --accent: #30fdd7;
  }
}
